html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-decoration: none;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: greenyellow;
}

div {
  width: 10px;
  height: 10px;
  background: skyblue;
  animation: myanimation 5s;
  animation-iteration-count: infinite;
  /*
  -moz-animation:myanimation 5s;
  -moz-animation-iteratin-count: infinite;
  -webkit-animation:myanimation 5s;
  -webkit-animation-iteratin-count: infinite;
  -o-animation:myanimation 5s;
  -o-animation-iteratin-count: infinite;
  */
}

@keyframes myanimation {
  0% {
    background-color: red;
    width: 5px;
    height: 10px;
  }

  25% {
    background-color: yellow;
    width: 10px;
    height: 10px;
  }

  50% {
    background-color: blue;
    width: 10px;
    height: 5px;
  }

  75% {
    background-color: green;
    width: 10px;
    height: 10px;
  }

  100% {
    background-color: red;
    width: 5px;
    height: 10px;
  }
}

@-moz-keyframes myanimation {
  /* ... (same code as in the standard @keyframes) ... */
}

@-webkit-keyframes myanimation {
  /* ... (same code as in the standard @keyframes) ... */
}

@-o-keyframes myanimation {
  /* ... (same code as in the standard @keyframes) ... */
}
