html {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-decoration: none;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: greenyellow;
}

div {
  width: 10px;
  height: 10px;
  background: skyblue;
  animation: myanimation 5s;
  animation-iteration-count: infinite;
  /*
  -moz-animation:myanimation 5s;
  -moz-animation-iteratin-count: infinite;
  -webkit-animation:myanimation 5s;
  -webkit-animation-iteratin-count: infinite;
  -o-animation:myanimation 5s;
  -o-animation-iteratin-count: infinite;
  */
}
